SIZE_MATTERS_BASE_WIDTH=375
SIZE_MATTERS_BASE_HEIGHT=812
ONESIGNAL_APP_ID=f6946b35-0f3c-4126-ab13-747029cbff78
REALM_APP_ID=mtltrealmdev-roukt
REALM_API_KEY=
GOOGLE_SIGNIN_IOS_CLIENT_ID=
GOOGLE_SIGNIN_WEB_CLIENT_ID=
STRIPE_PUBLISH_KEY=pk_test_51I8TGpClDAcBidfaQhAdmbkVAnSca1HZg2CjiYpxI54Hg6PVRrHG2No6hiEgqpaMItoct9oCcNf71VR7VNmP7Knv00p8PLg7fv
TERMS_ATHLETE_URL=https://meetlete.com/athletes-term.html
TERMS_FAN_URL=https://meetlete.com/fan-term.html
PRIVACY_POLICY_URL=https://meetlete.com/privacy.html
TWITTER_MEETLETE_URL=https://twitter.com/meetlete